:root {
  --primary-color: rgb(34, 40, 49);
  --secondary-color: rgb(57, 62, 70);
  --tertiary-color: rgb(0, 173, 181);
  --quaternary-color: rgb(238, 238, 238);
  --font-color: rgb(238, 238, 238);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #393e46;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #222831;
}
::-webkit-scrollbar-thumb:active {
  background: #222831;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #00adb5;
}
::-webkit-scrollbar-track:active {
  background: #00adb5;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  background: linear-gradient(
    rgba(57, 62, 70, 1),
    var(--primary-color));
  color: var(--font-color);
  font-family: "Muli", sans-serif;
  font-weight: 300;
  margin: 0;
  max-width: 100%;
}

p {
  margin: 0;
}

.mt-1 {
  margin-top: 0.5rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.h-20 {
  height: 20%;
}
.h-80 {
  height: 80%;
}

.w-100 {
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 30px;
  width: calc(100% - 60px);
}

.header__logo {
  width: 200px;
  margin-top: 1rem;
}

.header__menu--profile {
  display: flex;
  align-items: center;
  
}

.header__menu--profile img {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.header__menu--profile__list {
  color: black;
  display: none;
  list-style: none;
  margin: 0 0 0 -1rem;
  padding: 0;
  position: absolute;
  text-align: right;
  text-decoration: none;
  width: 160px;
}

.header__menu:hover .header__menu--profile__list,
.header__menu--profile__list:hover {
  display: block;
}

.header__menu--profile__list li {
  margin: 1rem 0;
}

.a {
  color: var(--font-color);
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
}

.browser {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 0 30px;
  text-align: center;
}

.browser__title {
  font-size: 1.75rem;
}

.input {
  background-color: rgba(238, 238, 238, 0.1);
  border-radius: 2rem;
  border: 2px solid var(--font-color);
  color: var(--font-color);
  font-size: 1rem;
  outline: none;
  padding: 1rem;
  width: 75%;
}

::placeholder {
  color: var(--font-color);
}

.carousel {
  margin: 0 30px;
  overflow-x: scroll;
  position: relative;
  width: calc(100%-60px);
}

.carousel__container {
  margin: 50px 0px;
  white-space: nowrap;
}

.carousel-item {
  background-color: var(--secondary-color);
  border-radius: 1.5rem;
  display: inline-block;
  height: 280px;
  overflow: hidden;
  position: relative;
  transition: 450ms;
  transform-origin: center left;
  width: 200px;
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  opacity: 1;
  transform: scale(1.3);
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(60px, 0, 0);
}

.carousel-item__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-item__details {
  background: linear-gradient(
    to bottom,
    rgba(34, 40, 49, 0.1) 0%,
    rgba(34, 40, 49, 0.8) 100%
  );
  bottom: 0;

  font-size: 0.725rem;
  height: 100%;

  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: 450ms opacity;
  text-align: center;
  top: 0;
  width: 100%;
}

.carousel-item:hover .carousel-item__details {
  opacity: 1;
}

.carousel-item__details img {
  margin-top: 100px;
  cursor: pointer;
  height: 3rem;
  padding: 0;
  width: 3rem;
}

.carousel-item__details img:hover {
  transform: scale(1.5);
}

.carousel-item__details--title,
.carousel-item__details--subtitle {
  margin: 0 10px;
}

.carousel-item__details--title {
  font-weight: 400;
}

.footer {
  align-items: center;
  display: flex;
  min-height: 100px;
  justify-content: center;
  width: 100%;
}

.footer .a {
  font-size: 1rem;
  padding-left: 30px;
}


@media only screen and (max-width: 600px) {  
  .header {
    padding: 0 10px;
    width: calc(100% - 20px);
  }
  
  .header__logo {
    width: 150px;
    margin-top: 0;
  }
  .footer {
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
  }
}